/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #e99638;
  --ifm-color-primary-dark: #c47e2e;
  --ifm-color-primary-darker: #b4742a;
  --ifm-color-primary-darkest: #b67429;
  --ifm-color-primary-light: #f19c3a;
  --ifm-color-primary-lighter: #fda43f;
  --ifm-color-primary-lightest: #ffaf54;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* Arrumar títulos (docusaurus não permite h1) */
article h2 {
  font-size: var(--ifm-h1-font-size) !important;
}

article h3 {
  font-size: var(--ifm-h2-font-size) !important;
}

article h4 {
  font-size: var(--ifm-h3-font-size) !important;
}

article h5 {
  font-size: var(--ifm-h4-font-size) !important;
}

article h6 {
  font-size: var(--ifm-h5-font-size) !important;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #e99638;
  --ifm-color-primary-dark: #c47e2e;
  --ifm-color-primary-darker: #b4742a;
  --ifm-color-primary-darkest: #b67429;
  --ifm-color-primary-light: #f19c3a;
  --ifm-color-primary-lighter: #fda43f;
  --ifm-color-primary-lightest: #ffaf54;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Remover fundo do logo no modo escuro */
[data-theme='dark'] .navbar__logo img {
  background-color: transparent !important;
}